/* 제목 */
.title{
  text-align: center;
}
/* 버튼 스타일링 및 위치 */
.compare-button {
  display: block;
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 100px;
  /* 텍스트 a태그 기본 속성 제거 */
  text-decoration: none;
  /* 원형으로 반들기 */
  border-radius: 50%;
}
/* 위치 지정 */
.compare {
  position: relative;
}

.compare-image{
  width:100%
}

.compare-button{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  /* margin-top: -50px;
  margin-left: -50px; */
}


/* top 버튼 */
/* 스타일 */
.go-up {
  width: 50px;
  height: 50px;
  background-color: black;
  /* 수평수직 정렬 */
  text-align: center;
  line-height: 50px;
  /* 원형 */
  border-radius: 50%;
  /* 커서의 포인터 */
}
 /*위치  */
.go-up {
  position: fixed;
  bottom : 100px;
  right: 50px;

}